{% extends "base.html" %}
{% load static %}
{% block title %}Inventory{% endblock %}
{% block content %}

<div>

    <div>

        <h3 class="page_header mb-4">Change Password</h3>
        <form method="POST">
            {% csrf_token %} 
            <label class="form-label">New Password:</label>
            <input type="password" id="password-field" class="form-control" name="new_password" required>
            <label class="form-label">Re-enter New Password:</label>
            <input type="password" id="re_password" class="form-control mb-3" name="re_password" required>

            {%  if message %}<p>{{message}}</p>{% endif %}
            <input type="submit" name="btn-submit" class="btn btn-primary" id="btn-submit" value="Save">
            <p id="error_message" style="color: red;"></p>
        </form>
    </div>

</div>
<script>
    jQuery('#btn-submit').on('click', function(){
           var new_password = jQuery("#new_password").val();
           let re_password = jQuery("#re_password").val();
          
           if(new_password==" "){
               jQuery("#error_message").text("Field can not be empty");
               return false;
           }
           if(re_password==" "){
               jQuery("#error_message").text("Field can not be empty");
               return false;
           }
           if(new_password != re_password){
            jQuery("#error_message").text("Password doesn't matched");
            return false;
           }
       });

</script>
{% endblock %}